<h2><strong>ジャンル編集画面</strong></h2><br>
  <%= form_for [:admins, @category] do |f| %>
     <div class="field row">
     	<div class="col-xs-1">
          <p><strong>ジャンル</strong></p>
        </div>
          <%= f.text_field :name, class: "col-xs-2" %>
        <div class="col-xs-3">
          <%= f.radio_button :status, :有効 %>有効
          <%= f.radio_button :status, :無効 %>無効
          <%= f.submit "保存", class:"btn btn-primary" %>
        </div>
     </div>
  <% end %>