<h2><strong>会員編集画面</strong></h2><br>

<div class="row">
	<div class="col-xs-1">
	</div>
	<div class="col-xs-6">
	  <div class="field">
        <label for="product_name">会員ID</label>
        <%= @costomer.id %>
      </div>
      <%= form_for [:admins, @costomer] do |f| %>
      <div class="field">
        <label for="product_body">氏名</label>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
      </div>
      <div class="field">
        <label for="product_category">フリガナ</label>
          <%= f.text_field :first_kana_name, autofocus: true, autocomplete: "first_kana_name" %>
          <%= f.text_field :last_kana_name, autofocus: true, autocomplete: "last_kana_name" %>
      </div>
      <div class="field">
      <label for="product_price">郵便番号</label>
        <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode" %>
      </div>
      <div class="field">
      <label for="product_status">住所</label>
        <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
      </div>
      <div class="field">
      <label for="product_status">電話番号</label>
        <%= f.text_field :phone, autofocus: true, autocomplete: "phone" %>
      </div>
      <div class="field">
      <label for="product_status">メールアドレス</label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
      <label for="product_status">会員ステータス</label>
        <%= f.radio_button :status, :有効 %>有効
        <%= f.radio_button :status, :退会済 %>退会済
      </div>

      <%= f.submit "変更を保存", class: "btn btn-primary" %>

	</div>
   <% end %>
</div>
