<div class="row">
  <div class="col-xs-11">
    <h2><strong>会員一覧画面</strong></h2><br>
  </div>
</div>

    <div class="row">
    	<div class="col-xs-2">
    	</div>

        <div class="col-xs-10">

          <table class="table table-hover table-inverse">
            <thead>
              <tr>
                <th>会員ID</th>
                <th>氏名</th>
                <th>メールアドレス</th>
                <th>ステータス</th>
              </tr>
            </thead>

            <tbody>
              <% @costomers.each do |f| %>
                <tr>
                   <td>
                   	<%= f.id %>
                   </td>
                   <td>
                   	<% if f.discarded_at == nil %>
                   	  <%= link_to admins_costomer_path(f.id) do %>
            	        <%= f.first_name %><%= f.last_name %>
            	      <% end %>
            	    <% else %>
            	      <%= link_to admins_costomers_path do %>
            	        <%= f.first_name %><%= f.last_name %>
            	      <% end %>
            	    <% end %>
                   </td>
                   <td>
                   	<%= f.email %>
                   </td>
                   <td>
                   	<% if f.discarded_at == nil %>
                   	  <%if f.status == nil %>
                   	    <p>有効</p>
                   	  <% else %>
                   	    <%= f.status %>
                   	  <% end %>
                   	<% else %>
                   	  <p>退会済</p>
                   	<% end %>
                   </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>
