<h2>登録情報編集</h2>

<%= form_for [:costomers, @costomer], url:costomers_costomers_path do |f| %>

  <div class="field">
    <%= f.label "名前" %>
    <%= f.label "（姓）" %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
    <%= f.label "（名）" %>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label "フリガナ" %>
    <%= f.label "（セイ）" %>
    <%= f.text_field :first_kana_name, autofocus: true, autocomplete: "first_kana_name" %>
    <%= f.label "（メイ）" %>
    <%= f.text_field :last_kana_name, autofocus: true, autocomplete: "last_kana_name" %>
  </div>

  <div class="field">
    <%= f.label "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label "郵便番号（ハイフンなし）" %>
    <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode" %>
  </div>

  <div class="field">
    <%= f.label "住所" %>
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div>

  <div class="field">
    <%= f.label "電話番号（ハイフンなし）" %>
    <%= f.text_field :phone, autofocus: true, autocomplete: "phone" %>
  </div>

  <div class="actions">
    <%= f.submit "編集内容を保存する", class: "btn-sm btn-primary btn-block" %>
    <%= link_to "退会する", costomers_path(@costomer), class: "btn-sm btn-danger btn-block" %>
  </div>
<% end %>