
  <div class="row">
  	<div class="col-xs-4 col-xs-push-2">
	  <h2><span class="span-title">マイページ</span></h2>
	</div>
  </div>

  <p><%= flash[:notice] %></p>

  <h3>登録情報　　<%= link_to "編集する", edit_costomers_costomers_path, class: "btn-sm btn-primary"%>
  　<%= link_to "パスワードを変更する", edit_costomer_password_path, class: "btn-sm btn-primary" %></h3><br>

  <div class="table-responsive">
    <table border="2" frame="box" width="60%" height="250">
      <tr>
        <td>　氏名</td>
        <td>　<%= @costomer.first_name %><%= @costomer.last_name %></td>
      </tr>
      <tr>
        <td>　カナ</td>
        <td>　<%= @costomer.first_kana_name %><%= @costomer.last_kana_name %></td>
      </tr>
      <tr>
        <td>　郵便番号</td>
        <td>　<%= @costomer.postcode %></td>
      </tr>
      <tr>
        <td>　住所</td>
        <td>　<%= @costomer.address %></td>
      </tr>
      <tr>
        <td>　電話番号</td>
        <td>　<%= @costomer.phone %></td>
      </tr>
      <tr>
        <td>　メールアドレス</td>
        <td>　<%= @costomer.email %></td>
      </tr>
    </table>
  </div>


  <h3>配送先　<%= link_to "一覧を見る", costomers_shippings_path(@costomer.id), class: "btn-sm btn-primary" %></h3>
  <h3>注文履歴　<%= link_to "一覧を見る", costomers_order_infomations_path, class: "btn-sm btn-primary" %></h3>
</div>