<div class="body">
  <div class="container">

    <h3>注文履歴一覧</h3>

    <div class="row">
      <div class="col-xs-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <td>注文日</td>
              <td>配送先</td>
              <td>注文商品</td>
              <td>ステータス</td>
              <td>注文詳細</td>
            </tr>
          </thead>
          <tbody>
            <% @order_informations.each do |order_information| %>
            <tr>
              <td><%= order_information.created_at.strftime('%Y/%m/%d') %></td>
              <td>
                <%= order_information.postcode %><br>
                <%= order_information.address %><br>
                <%= order_information.name %>
              </td>
              <td>
                <% order_information.order_products.each do |order_product| %>
                  <%= order_product.product.name %><br>
                <% end %>
              </td>
              <td><%= order_information.status %></td>
              <td><%= link_to '表示する', costomers_order_infomation_path(order_information.id), class: "btn btn-primary" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
