<div class='body'>
<div class="container">

<h3><strong>注文情報入力</strong></h3>
	<div class="row">

<!-- ラジオボタンのみフォームにする -->
		<%= form_with url: costomers_order_infomations_confirm_path do |f| %>

			<div>
  				<p>お支払い方法</p>
  				<%= radio_button_tag("payment_method", "クレジットカード") %>クレジットカード
  				<%= radio_button_tag("payment_method", "銀行振り込み") %>銀行振り込み
  			</div>

  			<div>
  			 <p>お届け先</p>
  				<div>
  					<%= radio_button_tag("address", "ご自身の住所") %>ご自身の住所
  						<div>
  							<%= @costomer.postcode %>
  							<%= @costomer.address %>
  						</div>
  						<div>
  							<%= @costomer.first_name %>
  							<%= @costomer.last_name %>
  						</div>
				</div>
				<div>
					<%= radio_button_tag("address", "登録済住所から選択") %>登録済住所から選択
						<div class="col-xs-12">
  							<%= f.select :shippngs_id, @sp_all %>
  						</div>
				</div>
  				<div>
  					<%= radio_button_tag("address", "新しいお届け先") %>新しいお届け先
  						<div>
  							<%= label_tag("shipping_postcode", "郵便番号(ハイフンなし)") %>
  							<%= text_field_tag("shipping_postcode") %>
  						</div>
  						<div>
  							<%= label_tag("shipping_address","住所") %>
  							<%= text_field_tag("shipping_address") %>
  						</div>
  						<div>
  							<%= label_tag("shipping_name", "宛名") %>
  							<%= text_field_tag("shipping_name") %>
  						</div>
  				</div>
  			</div>
        <%= hidden_field_tag :order_information, @order_information %>
  			<%= submit_tag ('確認画面へ進む') %>
		<% end %>
  	</div>

</div>
</div>

