<div class='body'>
<div class="container">

<div class="row">
<!-- ジャンル検索 -->
	<div class="col-xs-3" >
		<div class="categories">
			<table>
				<caption>ジャンル検索</caption>
				<tbody>
					<% @categories.each do |category| %>
						<tr>
							<td><%= link_to category.name, costomers_products_path(category_id: category.id) %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>

<!-- 商品一覧 -->
	<div class="col-xs-9">

<!-- ifで条件分岐 -->
<% if params[:category_id] %>
<!-- ジャンル一覧の場合 -->
		<table class="table">
			<thead>
				<tr>
					<th><h2><strong><%= @category.name %> 一覧</strong></h2></th>
					<th>
        				<p class="product-count">(全<%= @products.count %>件)</p>
  					</th>
				</tr>
			</thead>

			<tbody>
				<% @products.each do |product| %>
					<tr>
						<td>
							<%= attachment_image_tag product, :image, :fill, 60, 60, format: 'jpeg', class: "pull-left profile-img"  %>
						</td>
						<td><%= link_to product.name, costomers_product_path(product.id) %>
						</td>
						<td>¥<%= product.price %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
<!-- else -->
<% else %>
<!-- 全商品一覧 -->
		<table class="table">
			<thead>
				<tr>
					<th><h2><strong>商品一覧</strong></h2></th>
					<th>
        				<p class="text-left">(全<%= @products.count %>件)</p>
  					</th>
				</tr>
			</thead>
			<tbody>
				<% @products.each do |product| %>
					<tr>
						<td>
							<%= attachment_image_tag product, :image, :fill, 60, 60, format: 'jpeg', class: "pull-left profile-img"  %>
						</td>
						<td><%= link_to product.name, costomers_product_path(product.id) %>
						</td>
						<td>¥<%= product.price %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
<% end %>
<!-- 一覧 -->
	</div>

</div>
</div>
</div>