<div class='body'>
<div class="container">

<div class="row">
<!-- ジャンル検索 -->
	<div class="col-xs-3" >
		<div class="categories">
			<table>
				<caption><strong>ジャンル検索</strong></caption>
				<tbody>
					<% @categories.each do |category| %>
						<tr>
							<td><%= link_to category.name, costomers_products_path(category_id: category.id) %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>

<!-- 商品一覧 -->
	<div class="col-xs-9">
		<table class="table">
			<caption>
				ようこそ、NaganoCakeへ！<br>
				このサイトは、ケーキ販売のECサイトになります。<br>
				会員でない方も商品の閲覧はできますが、<br>
				購入には会員登録が必要になります。
			</caption>
			<thead>
				<tr>
					<th><h2><strong>オススメ商品</strong><h2></th>
				</tr>
			</thead>

			<tbody>
				<% @products.each do |product| %>
					<tr>
						<td>
							<%= attachment_image_tag product, :image, :fill, 60, 60, format: 'jpeg', class: "pull-left profile-img"  %>
						</td>
						<td><%= link_to product.name, costomers_product_path(product.id) %>
						</td>
						<td>¥<%= product.price %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>

		<p class="text-right"><%= link_to "もっと見る>", costomers_products_path %></p>

	</div>

</div>
</div>
</div>