<div class="row">
  <div class="col-xs-11">
    <h2><strong>商品一覧画面</strong></h2><br>
  </div>
  <dic class="col-xs-1">
    <%= link_to new_admins_product_path do %>
      <h2><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></h2>
    <% end %>
  </dic>
</div>

    <div class="row">
    	<div class="col-xs-1">
    	</div>

        <div class="col-xs-11">

          <table class="table table-hover table-inverse">
            <thead>
              <tr>
                <th>商品ID</th>
                <th>商品名</th>
                <th>税抜価格</th>
                <th>ジャンル</th>
                <th>ステータス</th>
              </tr>
            </thead>

            <tbody>
              <% @products.each do |pr| %>
                <tr>
                   <td>
                   	<%= pr.id %>
                   </td>
                   <td>
            	     <%= link_to pr.name, admins_product_path(pr.id) %>
                   </td>
                   <td>
                   	<%= pr.price %>
                   </td>
                   <td>
                   	<%= pr.category.name %>
                   </td>
                   <td>
                   	<%= pr.status %>
                   </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>
