<!DOCTYPE html>
<html>
  <head>
    <title>Admins-GithubWork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>



  <header>
    <div class="navbar navbox">
      <div class="container">
        <nav class="nav nav-c navbar-left">
          <%= link_to admins_top_path do %>
            <div class="navbar-brand"></div>
          <% end %>
        </nav>
        <nav>
        <ul class="nav navbar-nav navbar-right">

            <% if admin_signed_in? %>
                <li>
                  <%= link_to '商品一覧', admins_products_path, class: "btn-sm btn-danger" %>
                </li>
                <li>
                  <%= link_to '会員一覧', admins_costomers_path, class: "btn-sm btn-danger" %>
                </li>
                <li>
                  <%= link_to '注文履歴一覧', admins_order_informations_path, class: "btn-sm btn-danger" %>
                </li>
                <li>
                  <%= link_to 'ジャンル検索', admins_categories_path, class: "btn-sm btn-danger" %>
                </li>
                <li>
                  <%= link_to 'ログアウト', destroy_admin_session_path, :method => :delete, class: "btn-sm btn-danger"  %>
                </li>
            <% end %>

        </ul>

        </nav>
      </div>
    </div>
  </header>



  <div class="container">
    <%= yield %>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-xs-offset-9">
          <p class="footer-text">Nagano Cake</p>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>