<!DOCTYPE html>
<html>
  <head>
    <title>Costomers-GithubWork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>



  <header>
    <div class="navbar navbox">
      <div class="container">
        <nav class="nav nav-c navbar-left">
          <a href="" class="navbar-brand"></a>
        </nav>
        <nav>
        <ul class="nav navbar-nav navbar-right">
            <% if costomer_signed_in? %>
                <li>
                </li>
                <li><%= link_to ' 商品一覧', costomers_products_path, class:"btn-sm btn-danger" %>
                </li>
                <li>
                </li>
                <li><%= link_to " ログアウト", destroy_costomer_session_path, method: :delete, class:"btn-sm btn-danger" %>
                </li>
            <% else %>
                <li><%= link_to ' 商品一覧', costomers_products_path, class:"btn-sm btn-danger" %>
                </li>
                <li><%= link_to " 新規登録", new_costomer_registration_path, class:"btn-sm btn-danger" %>
                </li>
                <li><%= link_to " ログイン", new_costomer_session_path, class:"btn-sm btn-danger" %>
                </li>
            <% end %>
        </ul>

        </nav>
      </div>
    </div>
  </header>

  <div class="container">
    <%= yield %>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-xs-offset-9">
          <p class="footer-text">Nagano Cake</p>
        </div>
      </div>
    </div>
  </footer>